In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [7]:
items = []

for i in range(1, 51):
    with open(f"html/page{i}.html", encoding='utf-8') as f:
        content = f.read()

    soup = BeautifulSoup(content,"html.parser")
    articles = soup.select("article.product_pod")

    for article in articles:
        title = article.find('h3').find('a')['title']
        price = article.select_one('p.price_color').text.split('£')[1]
        rating_element = article.select_one("p.star-rating")
        rating = rating_element['class'][1]
        stock = ' '.join(article.select_one("p.instock").text.split())
        
        items.append([title,price,rating,stock])

In [9]:
df = pd.DataFrame(items, columns=['Book Title','Price','Rating','Stock Availability'])

In [11]:
df

,Book Title,Price,Rating,Stock Availability
0,A Light in the Attic,51.77,Three,In stock
1,Tipping the Velvet,53.74,One,In stock
2,Soumission,50.10,One,In stock
3,Sharp Objects,47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,54.23,Five,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,One,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Four,In stock
997,A Spy's Devotion (The Regency Spies of London #1),16.97,Five,In stock
998,1st to Die (Women's Murder Club #1),53.98,One,In stock
999,"1,000 Places to See Before You Die",26.08,Five,In stock

In [10]:
df.to_csv("cleaned_scraped_book_50pages_data.csv", index=False)